# Local configuration for meta-rpi images
# Yocto Project 3.1 Poky distribution [dunfell] branch
# This is a sysvinit system

# mask wireguard from meta-openembedded/meta-networking
# use version in meta-jumpnow to support kernels < 5.6
# with wireguard-linux-compat
BBMASK = "meta-networking/recipes-kernel/wireguard"

LICENSE_FLAGS_WHITELIST = "commercial"

DISTRO_FEATURES = "bluetooth ext2 opengl usbhost ${DISTRO_FEATURES_LIBC}"

DISTRO_FEATURES_BACKFILL_CONSIDERED += "pulseaudio"

PREFERRED_PROVIDER_jpeg = "libjpeg-turbo"
PREFERRED_PROVIDER_jpeg-native = "libjpeg-turbo-native"

PREFERRED_PROVIDER_udev = "eudev"
DISTRO_FEATURES_append = " systemd"
DISTRO_FEATURES_BACKFILL_CONSIDERED += "sysvinit"
VIRTUAL-RUNTIME_init_manager = "systemd"
VIRTUAL-RUNTIME_initscripts = "systemd-compat-units"

MACHINE_FEATURES_remove = "apm"

# IMAGE_FSTYPES = "tar.xz ext3"
# generate rpi-sdimg for use with imager software such as etcher
# IMAGE_FSTYPES = "rpi-sdimg"

# for mender
IMAGE_FSTYPES = "ext4"

# Mender will build an image called `sdimg` which shall be used instead
# of the `rpi-sdimg`.
IMAGE_FSTYPES_remove += " rpi-sdimg"

# Choose the board you are building for
#MACHINE = "raspberrypi"
#MACHINE = "raspberrypi0"
#MACHINE = "raspberrypi0-wifi"
#MACHINE = "raspberrypi2"
#MACHINE = "raspberrypi3"
#MACHINE = "raspberrypi4"
MACHINE = "raspberrypi4-64"
#MACHINE = "raspberrypi-cm"
#MACHINE = "raspberrypi-cm3"

KERNEL_IMAGETYPE = "uImage"

# see https://github.com/mendersoftware/meta-mender/tree/dunfell/meta-mender-raspberrypi
RPI_USE_U_BOOT = "1"
MENDER_PARTITION_ALIGNMENT = "4194304"   
MENDER_BOOT_PART_SIZE_MB = "40"
do_image_sdimg[depends] += " bcm2835-bootfiles:do_populate_sysroot"

# raspberrypi files aligned with mender layout requirements
IMAGE_BOOT_FILES_append = " boot.scr u-boot.bin;${SDIMG_KERNELIMAGE}"
IMAGE_INSTALL_append = " kernel-image kernel-devicetree"
MENDER_ARTIFACT_NAME = "release-1"
INHERIT += "mender-full"

# uncomment for kernels < 5.6
WIREGUARD_COMPAT = "1"

#DISABLE_VC4GRAPHICS = "1"
DISABLE_OVERSCAN = "1"
# ENABLE_UART = "1"
# SERIAL_CONSOLES = "115200;ttyAMA0"
SERIAL_CONSOLES = ""

# default to 5.4
PREFERRED_VERSION_linux-raspberrypi = "5.4.%"
# PREFERRED_VERSION_linux-raspberrypi = "4.19.%"

# DL_DIR = "/src/oe"
# SSTATE_DIR = "/oe8/rpi64/sstate-cache"
# TMPDIR = "/oe8/rpi64/tmp-zeus"

DISTRO = "poky"
PACKAGE_CLASSES = "package_ipk"

# i686 or x86_64
SDKMACHINE = "x86_64"

# for no root passwd uncomment the following and comment the two extra user lines
# EXTRA_IMAGE_FEATURES = "debug-tweaks"

# for a root passwd, change mhouseos below to your password
INHERIT += "extrausers"
EXTRA_USERS_PARAMS = "usermod -P mhouseos root; "

# this will force root to change password on first login
# INHERIT += "chageusers"
# CHAGE_USERS_PARAMS = "chage -d0 root; "

USER_CLASSES = "image-mklibs image-prelink"
PATCHRESOLVE = "noop"
RM_OLD_IMAGE = "1"
INHERIT += "rm_work"
CONF_VERSION = "1"

DISABLE_RPI_BOOT_LOGO = "1"

hostname_pn-base-files = "mhouseos"